<!-- Modal -->
<div class="modal fade" id="signatureModal" tabindex="-1" role="dialog" aria-labelledby="signatureModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label for="modal_txnstring" class="font-weight-bold">Message to sign:</label>
            <div class="input-group" >
              <textarea  rows="4" type="text"  id="modal_txnstring" readonly class="form-control-plaintext" aria-label="With textarea" value=""></textarea>
            </div>
        </div>
        <div class="form-group">
          <label for="modalsecretkey" class="font-weight-bold">Secret Key:</label>
          <input type="password" class="form-control" id="modalsecretkey" placeholder="">
          <div class="invalid-feedback" id="modalsecretkey_feedback">That is not a valid secret key.</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  id="CloseModal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="GenerateSig" >Generate Signature</button>
      </div>
    </div>
  </div>
</div>