{% extends "base.html" %}
{% load static %}

{% block style %} 
<style type="text/css">
  thead>tr>th {
    font-size:11px;
  }
</style>
{% endblock style %}
{% block content %}
<div class="container" style="margin-top:40px;">
  <div class="card ">
    <div class="card-body">
      <div class="table-responsive table-borderless">
        <table class="table table-sm">
          <thead>
            <tr class="custom_centered">
              <th>Photo</th>
              <th>Public&nbsp;Key</th>
              <th>Balance</th>
              <th>Status</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
            {% if account %}
            <tr>
              {% if account.registered %}
              <td style="vertical-align: middle;"><img src="{% get_media_prefix %}{{ account.photo }}" height="70" width="70"></td>
              {% else %}
              <!-- Matthieu James [GPL (http://www.gnu.org/licenses/gpl.html)] -->
              <td style="vertical-align: middle;"><img src='https://upload.wikimedia.org/wikipedia/commons/f/fd/Faenza-avatar-default-symbolic.svg' height="70" width="70"></td>
              {% endif %}
              <td style="vertical-align: middle;font-size:13px;"><a class="textlink" href="/accounts/{{ account.public_key}}/">{{ account.public_key }}</a></td>
              <td style="vertical-align: middle;font-size:14px;">{{ account.balance }}</td>
              <td style="vertical-align: middle;font-size:14px;">{% if account.verified %}<span class="text-success">Verified</span>{% elif account.suspended %}<span class="text-danger">Suspended</span>{% else %}<span class="text-secondary">Not&nbsp;Verified</span>{% endif %}</td>
              <td style="vertical-align: middle;font-size:14px;">{% if account.name %}{{account.name}}{% endif %}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>    

<!-- as number of txns gets large update to show page = current +/- 2 -->
<nav>
  <ul class="pagination justify-content-center">
    {% if accounts.paginator.num_pages < 9 %}
        {% for num in accounts.paginator.page_range %}
            {% if num == accounts.number %}
                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if accounts.number < 5 %}
            {% for num in accounts.paginator.page_range %}
                {% if num == accounts.number %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                {% elif num < 6%}
                    <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item" ><span style="vertical-align: middle;">&nbsp;.....&nbsp;</span></li>
            <li class="page-item"><a class="page-link" href="?page={{accounts.paginator.num_pages}}">{{accounts.paginator.num_pages}}</a></li>
        {% elif accounts.number > accounts.paginator.num_pages|add:"-4" %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item" ><span style="vertical-align: middle;">&nbsp;.....&nbsp;</span></li>
            {% for num in accounts.paginator.page_range %}
                {% if num == accounts.number %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                {% elif num > accounts.paginator.num_pages|add:"-5" %}
                    <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item" ><span style="vertical-align: middle;">&nbsp;.....&nbsp;</span></li>
            <li class="page-item"><a class="page-link" href="?page={{ accounts.previous_page_number }}">{{ accounts.previous_page_number }}</a></li>
            <li class="page-item active"><a class="page-link" href="#">{{accounts.number}}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ accounts.next_page_number }}">{{ accounts.next_page_number }}</a></li>
            <li class="page-item" ><span style="vertical-align: middle;">&nbsp;.....&nbsp;</span></li>
            <li class="page-item"><a class="page-link" href="?page={{accounts.paginator.num_pages}}">{{accounts.paginator.num_pages}}</a></li>
        {% endif %}
    {% endif %}
  </ul>
</nav>
{% endblock %}


{% block script %}
{% endblock script %} 

   