{% extends "base.html" %}

{% load static %}

{% block style %}  
<style>
/*table {table-layout:fixed; }
table tr { height:1em;  }
td {  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  font-size:14px; } */

.overflow{
 overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;  
}
.row2{
  font-size:14px;
  margin-top:0.4rem;
  margin-bottom:0.4rem;
}

</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:50px;">

  <div class="card">
    <div class="card-body">
      <div class="row">
        {% if account.registered %}
        <div class="col-xl-2"  style="padding-top:10px;">
          <img src="{% get_media_prefix %}{{ account.photo }}" height="170" width="170">
        </div> 
        <div class="col-xl-10">
          <div class="row row2">
            <div class="col-md-2">Public&nbsp;Key:</div>
            <div class="col-md-10">{{ account.public_key }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Name:</div>
            <div class="col-md-10">{{ account.name }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Balance:</div>
            <div class="col-md-10">{{ account.balance }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Sequence:</div>
            <div class="col-md-10">{{ account.sequence_next }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Registered:</div>
            <div class="col-md-10">{{ account.registered }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Verification&nbsp;score:</div>
            <div class="col-md-10">{{ account.verified }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Photo&nbsp;hash:</div>
            <div class="col-md-10 overflow" data-container="body" data-toggle="popover" data-placement="bottom" data-content='{{ account.photo_hash }}'>{{ account.photo_hash }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Txn&nbsp;history:</div>
            <div class="col-md-10"><a style="color:#28bda4" href="/accounts/{{account.public_key}}/history">View all transactions</a></div>
          </div>
        </div>
        {% else %}
        <div class="col-xl-2" >
          <!-- Matthieu James [GPL (http://www.gnu.org/licenses/gpl.html)] -->
          <img src='https://upload.wikimedia.org/wikipedia/commons/f/fd/Faenza-avatar-default-symbolic.svg' height="170" width="170" >
        </div> 
        <div class="col-xl-10">
          <div class="row row2"><div class="col-md-3">Public&nbsp;Key:</div><div class="col-md-9">{{ account.public_key }}</div></div>
          <div class="row row2"><div class="col-md-3">Balance:</div><div class="col-md-9">{{ account.balance }}</div></div>
          <div class="row row2"><div class="col-md-3">Sequence:</div><div class="col-md-9">{{ account.sequence_next }}</div></div>
          <div class="row row2"><div class="col-md-3">Registered:</div><div class="col-md-9">{{ account.registered }}</div></div>
          <div class="row row2"><div class="col-md-3">Verification&nbsp;score:</div><div class="col-md-9">{{ account.verified }}</div></div>
          <div class="row row2"><div class="col-md-3">Txn&nbsp;history:</div><div class="col-md-9"><a style="color:#28bda4" href="/accounts/{{account.public_key}}/history">View all transactions</a></div></div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="card" style="margin-top:50px;">
    <div class="card-body">
      <h6 style="text-align: center;font-size:14px;"><b>Vote totals:</b> Trust=6, Distrust=2, Neutral=12</h6>
      <h6 style="text-align: center;font-size:14px;"><b>Countdown timer:</b>&nbsp;  Not active</h6>
      <div class="table-responsive table-borderless">
        <table class="table table-sm">
          <colgroup>
            <col style="width:10%">
            <col style="width:15%">
            <col style="width:55%">
            <col style="width:10%">
            <col style="width:10%">
          </colgroup> 
          <thead>
            <tr class="custom_centered">
              <th style="font-size:11px;"></th>
              <th style="font-size:11px;"></th>
              <th style="font-size:11px;"></th>
              <th style="font-size:11px;">Vote&nbsp;recieved</th>
              <th style="font-size:11px;">Vote&nbsp;given</th>
            </tr>
          </thead> 
          <tbody>
            {% for arrow in arrows %}
            {% if arrow %}
            <tr>
              <td style="vertical-align: middle;"><img src="{% get_media_prefix %}{{ arrow.source.photo }}" height="70" width="70"></td>
               <td style="vertical-align: middle;font-size:14px;">{{arrow.source.name}}</td>
              <td style="vertical-align: middle;font-size:13px;"><a style="color:#28bda4" href="/accounts/{{ arrow.source.public_key }}/">{{ arrow.source.public_key }}</a></td>
              <td style="vertical-align: middle;font-size:14px;">{% if arrow.status == 1 %}<span class="text-success">Trust</span>{% elif arrow.status == -1 %}<span class="text-danger">Distrust</span>{% else %}<span class="text-secondary">Neutral</span>{% endif %}</td>
              <td style="vertical-align: middle;font-size:14px;">{% if arrow.opposite.status == 'Trust' %}<span class="text-success">Trust</span>{% elif arrow.opposite.status == 'Distrust' %}<span class="text-danger">Distrust</span>{% else %}<span class="text-secondary">Neutral</span>{% endif %}</td>
              <!--                   <td style="vertical-align: middle;font-size:14px;">{% if account.verified %}<span class="text-success">Verified</span>{% else %}<span class="text-secondary">Not&nbsp;Verified</span>{% endif %}</td> -->
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
<br>
<br>
<br>


    <div class="row justify-content-md-center">
    <div class="col-12">
    <div class="card">
    <div class="card-body">
      <h6 style="font-family: 'Garamond';text-align: center">Challenges</h6>
         <div class="table-responsive table-borderless">
            <table class="table table-sm">
<!--                     <thead>
          <tr class="custom_centered">
          <th style="font-size:11px;">Photo</th>
          <th style="font-size:11px;">Public&nbsp;Key</th>
          <th style="font-size:11px;">Name</th>
          <th style="font-size:11px;">Vote</th>
         </tr>
        </thead> -->
              <tbody>

              </tbody>
            </table>
          </div>
    </div>
    </div>
    </div>
    </div>




  <!--   <div class="card">
    <div class="card-body">
<div class="row">
  {% if account.registered %}
  <div class="col-xl-2"  style="padding-top:10px;">
    <img src="{% get_media_prefix %}{{ account.photo }}" height="170" width="170">
  </div> 
   <div class="col-xl-10">
    <div class="table-responsive table-borderless">
    <table class="table table-sm">
      <colgroup>
        <col  class="firstcol" >
        <col class="secondcol">
      </colgroup> 
    <tbody>
    <tr><td>Public&nbsp;Key:</td><td>{{ account.public_key }}</td></tr>
    <tr><td>Name:</td><td>{{ account.name }}</td></tr>
    <tr><td>Balance:</td><td>{{ account.balance }}</td></tr>
    <tr><td>Registered:</td><td>{{ account.registered }}</td></tr>
     <tr><td>Verfiied:</td><td>{{ account.verified }}</td></tr>
     <tr><td>Sequence&nbsp;no.:</td><td>{{ account.sequence_next }}</td></tr>
     <tr><td>Photo&nbsp;hash:</td><td data-container="body" data-toggle="popover"  data-placement="bottom" data-content = '{{ account.photo_hash }}' >{{ account.photo_hash }}</td></tr>
     <tr><td>Txn&nbsp;history:</td><td><a style="color:#3498db" href="/accounts/{{account.public_key}}/history">View all transactions</a></td></tr>    
    </tbody>
    </table>
    </div>
  </div>
      {% else %}
 <div class="col-3" >
    <img src='https://upload.wikimedia.org/wikipedia/commons/f/fd/Faenza-avatar-default-symbolic.svg' height="170" width="170" >
  </div> 
   <div class="col-9">
    <div class="table-responsive table-borderless">
    <table class="table table-sm">
      <colgroup>
        <col style="width:15%">
        <col style="width:85%">
      </colgroup> 
    <tbody>
    <tr><td>Public&nbsp;Key:</td><td>{{ account.public_key }}</td></tr>
    <tr><td>Balance:</td><td>{{ account.balance }}</td></tr>
    <tr><td>Registered:</td><td>{{ account.registered }}</td></tr>
     <tr><td>Verfiied:</td><td>{{ account.verified }}</td></tr>
     <tr><td>Sequence&nbsp;no.:</td><td>{{ account.sequence_next }}</td></tr>
    <tr><td>Txn&nbsp;history:</td><td><a style="color:#3498db" href="/accounts/{{account.public_key}}/history">View all transactions</a></td></tr>    
    </tbody>
    </table>
    </div>
  </div>
{% endif %}
</div>
</div>
</div> -->




</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$('[data-toggle="popover"]').popover();
$(document).on('click', function (e) {
    $('[data-toggle="popover"],[data-original-title]').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {                
            (($(this).popover('hide').data('bs.popover')||{}).inState||{}).click = false  
        }
    });
});  


</script>
{% endblock %} 