{% extends "base.html" %}
{% load static %}

{% block style %} 
<style type="text/css">
  .row{
    font-size:14px;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
  }
</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:50px;margin-bottom:50px;">


 <div class="card ">
    <div class="card-body">
      <h6 style="font-family: 'Garamond';text-align: center">Offers</h6>
      <div class="table-responsive table-borderless">
        <table class="table table-sm">
          <tbody>
            {% for account in accounts_with_offers %}
            {% if account %}
            <tr>
              <td style="vertical-align: middle;"><img src="{% get_media_prefix %}{{ account.photo }}" height="70" width="70"></td>
              <td style="vertical-align: middle;font-size:13px;"><a class="textlink" href="/accounts/{{ account.public_key}}/">{{ account.name }}</a></td>
              <td style="vertical-align: middle;font-size:14px;">{{ account.offer }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>
{% endblock %}
{% block script %}
{% endblock %}
