{% extends "base.html" %}

{% block style %}  
<style type="text/css">
.card{
/*  border:1px solid #f2f2f2;
*/ 
  margin-bottom:25px;
}


.list-group-item {
    padding: 2px 1px;
        margin: 5px 0;
}
</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:60px;">

<div class="card" style="font-family: 'Garamond'">
  <div class="card-body">
    <h5 class="card-title">How to register?</h5>
    Step 1. Create an Ed25519 keypair (this can be done <a class="textlink" href="/newkeypair/" target="_blank">here</a>). Keep a safe record of your Public Key and Secret Key.<br>
    Step 2. Get the required minimum balance of {{min_balance}} OBM into your account. To get OBM see the offers listed on the <a class="textlink" href="/exchange/" target="_blank">exchange</a>.<br>
    Step 3. Register your account by submitting a transaction <a class="textlink" href="/register/" target="_blank">here</a> including your public key, name, a password and a clear selfie. Then sign the transaction using your secret key and hit submit. (The sequence no. can be found on your account page, if this is your first transaction just enter 1 for this field).<br>
  </div>
</div>

<div class="card" style="font-family: 'Garamond'">
  <div class="card-body">
    <h5 class="card-title">How to start receiving the daily income?</h5>
    First register as above. Then after {{timedelta_2_hours}} hours your account will be linked with a random list of other accounts. For each account you are linked with, you can vote on whether you believe there exists a real person that matches the profile picture of that account. Similarly your links can vote on whether they believe your account is genuine. The possible votes are 'Trust', 'Neutral' and 'Distrust'. Initially all votes are set to Neutral. Each account receives a verification score based on the votes it has received. A verification score over 50% is considered verified and that account will receive the daily income of 100 OBM.<br>
    Go to <a class="textlink" href="/myaccount/" target="_blank">myaccount</a> to see the accounts you are linked with and get in contact with them to verify each other (e.g. using <a class="textlink" href="https://videolink2me.com/" target="_blank">videolink2me.com</a>). The voting works like a bet so if you vote correctly you will win extra OBM and if you vote incorrectly you will lose some OBM. This provides the incentive to only verify real accounts.<br>
  </div>
</div>

<div class="card" style="font-family: 'Garamond'">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">How to prevent people registering multiple times?</h5>
    This is done using challenges. Anyone can look at the list of registered accounts and see if there are two pictures of the same person. If they spot a possible match they can create a <a class="textlink" href="/challenge/" target="_blank">challenge</a> against those two accounts. The challenger must place a small deposit to create a challenge and receives a reward if the challenge is determined to be correct (i.e. there does not exist a real person for both accounts). The decision on a challenge is made similar to above by the votes of a randomly selected group of accounts. These accounts vote Trust/Neutral/Distrust on whether they trust that both accounts belong to real people. They also have the option to vote for one of the two accounts, and if the outcome of the vote is 'Distrust' whichever of the two accounts has fewer votes will be suspended. Verifiaction for challenges is done by having a video chat with both of the challenged accounts at the same time.<br>
  </div>
</div>

<div class="card" style="font-family: 'Garamond'">
  <div class="card-body">
   <h5 class="card-title" style="font-family: 'Garamond'">What do I need my password for?</h5>
   Your password is only used to login and see the messages from your links. Your password is not used for sending transactions, transactions must be signed using your secret key. You can reset your password at any time <a class="textlink" href="/resetpassword/" target="_blank">here</a>.
  </div>
</div>

<div class="card" style="font-family: 'Garamond'">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">What are the amounts for the bets/deposits/rewards?</h5>
    They can be found on the <a class="textlink" href="/statistics/" target="_blank">statistics</a> page.
  </div>
</div>

<div class="card" style="font-family: 'Garamond'">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">What about blockchain?</h5>
    At the moment ObjectiveMoney runs as a publicly verifiable hash chain on a single node. The rules on how new transactions update the state are deterministic (including the creation of the random linked accounts), so the chain could be run on a blockchain platform such as Ethereum in the future. This is something we are working on implementing. 
  </div>
</div>

<div class="card" style="font-family: 'Garamond'">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">How do the random links get chosen?</h5>
    The random links are chosen using a distributed commit and reveal RNG. Registered user can generate a random value and <a class="textlink" href="/commit/" target="_blank">commit</a> to the hash of this value. After a fixed time interval they then <a class="textlink" href="/reveal/" target="_blank">reveal</a> the value. The RNG combines these values to create a random value which is to decide on the links for a new account.
  </div>
</div>

<div class="card" style="font-family: 'Garamond'">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">How to create an offer on the exchange?</h5>
    You need to be registered to make an offer. Go to <a class="textlink" href="/myaccount/" target="_blank">myaccount</a> and scroll down to the last section to create an offer. Include the conditions of your offer and a contact detail.
  </div>
</div>


</div>



{% endblock %}

{% block script %}

{% endblock %} 
