{% extends "base.html" %}

{% block style %}  
<style type="text/css">
.card{
/*  border:1px solid #f2f2f2;
*/ 
  margin-bottom:25px;
}


.list-group-item {
    padding: 2px 1px;
        margin: 5px 0;
}
</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:70px;">

<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">How it works?</h5>
    Each living human can register to recieve a daily income of 100 Utope. This is the only way the currency can come into existence. Utope derives its scarcity from the fact that each living human can register for at most one account. 
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">How to prevent people registering multiple times?</h5>
    Each living human can register to recieve a daily income of 100 Utope. This is the only way the currency can come into existence. Utope derives its scarcity from the fact that each living human can register for at most one account. 
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">How can I register?</h5>
    First generate a EDska private key (for example her bitkey.com). Then get the minimum required balance into the account associated with this private key. Lastly upload a profile picture and submit your registration. The registration will then go through the verification process, after which your account will recieve 100 Utope daily. 
  </div>
</div>

<div class="card">
  <div class="card-body">
   <h5 class="card-title" style="font-family: 'Garamond'">Why would Utope have value?</h5>
            Given an economy and a selection of currencies, the relative values of the different currencies will be affected by the current and future distributions of tthe currencies. Specifiing the distribution via a universal dividend we believe to be the most objective policy. 
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">How can I trust Utope?</h5>
            Utope runs as a publicly verifiable hash chain. The history cannot be altered, Every action which changes the state of the system is publicly verifiable. The main point trust requirement in Utope is that legitiamte transactions will not be rejected from adding to the hash chain,If there is a significant proportional of user who  
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Garamond'">How do the random links get chosen?</h5>
            Using a distributed commit and reveal RNG. Registered user can generate a random value and <a href="/commit/" >commit</a> to the hash of this value. After a fixed time interval they then <a href="/reveal/" >reveal</a> the value. The RNG combines these values to create a random value to choose the links.
  </div>
</div>

<p>cross link to other parts to have good connectibiity, i.e. to txns etc and visa versa</p>
  
</div>



{% endblock %}

{% block script %}

{% endblock %} 
