{% extends "base.html" %}

{% load static %}

{% block style %}  
<style>
.chat:hover{
  cursor: pointer;
}
.row2{
  font-size:14px;
  margin-top:0.4rem;
  margin-bottom:0.4rem;
}

#chatbox {
    position: relative;
}
#messageinput {
    position: absolute;
    bottom: 0;
}

textarea::-webkit-scrollbar {
    display: none;
}
textarea {
   resize: none;
}
div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

div::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb
{
  background-color: #000000;
}


.msg-l{
  font-size:14px;
  margin:15px;
  margin-right: 100px;
  border:1px solid hsl(170, 65%, 88%);
  border-radius: 5px;
  padding:4px;
  background: hsl(170, 65%, 90%);
   overflow: hidden;
}

.msg-r{
  font-size:14px;
  margin:15px;
  margin-left: 100px;
  border:1px solid hsl(0, 0%, 97%);
  border-radius: 5px;
  padding:4px;
  background: hsl(0, 0%, 99%);
}
.msg-name{
  font-size:10px;
  float: right;
}
.btn-send {
    color: #28bda4;
    background-color: white;
}

.btn-send:hover, .btn-send:focus, .btn-send:active, .btn-send:active:focus, .btn-send.active, .open>.dropdown-toggle.btn-send {
    color: #28bda4 !important;
    background-color: white !important;
}

</style>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:50px;">
  <div class="card" style="margin-bottom: 20px">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-2"  style="padding-top:10px;">
          <img src="{% get_media_prefix %}{{ account.photo }}" height="170" width="170">
        </div> 
        <div class="col-xl-10">
          <div class="row row2">
            <div class="col-md-2">Public&nbsp;Key:</div>
            <div class="col-md-10">{{ account.public_key }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Name:</div>
            <div class="col-md-10">{{ account.name }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Balance:</div>
            <div class="col-md-10">{{ account.balance }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Sequence:</div>
            <div class="col-md-10">{{ account.sequence_next }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Photo&nbsp;hash:</div>
            <div class="col-md-10 overflow" data-container="body" data-toggle="popover" data-placement="bottom" data-content='{{ account.photo_hash }}'>{{ account.photo_hash }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Txn&nbsp;history:</div>
            <div class="col-md-10"><a style="color:#28bda4" href="/myaccount/history">View all transactions</a></div>
          </div>
          {% if account.committed %}
          <div class="row row2">
            <div class="col-md-2">Commitment:</div>
            <div class="col-md-7">{{ account.committed_hash }}</div>
            {% if time_status == 'early' %}
            <div class="col-md-3 text-muted">Reveal&nbsp;value in {{timer}}</div>
            {% elif time_status == 'ready'  %}
            <div class="col-md-3 text-muted"><a style="color:#28bda4" href="/reveal">Reveal&nbsp;value</a>. Time left {{timer}}</div>
            {% else %}
            <div class="col-md-3 text-muted">Too late to reveal&nbsp;value</div>
            {% endif %}
          </div>
          {% endif %}
          <div class="row row2">
            <div class="col-md-2">Verification&nbsp;score:</div>
            <div class="col-md-10">{{account.verification_score}}&#37;</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Countdown timer:</div>
            <div class="col-md-10"><span id="time" style="width:110px;display: inline-block;">{{countdown}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-8">
    <div class="card" style="height: 100%;">
      <div class="card-body" style="height: 500px;overflow-y:scroll;">
        <h6 style="font-family: 'Garamond';text-align: center;margin-bottom: 15px;">Links</h6>
        <div class="table-responsive table-borderless">
          <table class="table table-sm">
      <!--       <colgroup>
              <col style="width:10%">
              <col style="width:15%">
              <col style="width:55%">
              <col style="width:10%">
              <col style="width:10%">
            </colgroup>  -->
          <thead>
            <tr class="custom_centered">
              <th style="font-size:11px;">Photo</th>
              <th style="font-size:11px;">Name</th>
              <th style="font-size:11px;">Their Vote</th>
              <th style="font-size:11px;">Your Vote</th>
              <th style="font-size:11px;"></th>
            </tr>
          </thead> 
            <tbody>
              {% for arrow in arrows %}
              {% if arrow %}
              <tr>
                <td style="vertical-align: middle;">
                  <img src="{% get_media_prefix %}{{ arrow.source.photo }}" height="70" width="70">
                </td>
                <td style="vertical-align: middle;font-size:14px;">
                  <a class="textlink" href="/accounts/{{ arrow.source.public_key }}/">{{arrow.source.name}}</a>
                </td>
                <td style="vertical-align: middle;font-size:14px;">{{ arrow.get_status_display }}{% if arrow.matched == True %}&nbsp;&nbsp;(<b>m</b>){% endif %}</td>
                <td style="vertical-align: middle;font-size:14px;">{{ arrow.opposite.get_status_display }}{% if arrow.opposite.matched == True %}&nbsp;&nbsp;(<b>m</b>){% endif %}</td>
                <td style="vertical-align: middle;font-size:14px;">
                  <a class="textlink" href="/changevote/?target={{ arrow.source.public_key }}">Change your vote</a>
                </td>
                <td style="vertical-align: middle;font-size:14px;">
                <div class="chat">
                {% if forloop.first %}
                <img class="icon noselect" id="icon_{{ arrow.source.public_key }}" src='{% static "core/images/icon_active.png" %}' height="25" width="25">
                {% else %}
                {% if arrow.has_new_message %}
                <img class="icon noselect" id="icon_{{ arrow.source.public_key }}" src='{% static "core/images/icon_new.png" %}' height="25" width="25">
                {% else %}
                <img class="icon noselect" id="icon_{{ arrow.source.public_key }}" src='{% static "core/images/icon.png" %}' height="25" width="25">
                {% endif %}
                {% endif %}
                </div>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <br>


        <h6 style="font-family: 'Garamond';text-align: center;margin-bottom: 15px;">Challenges</h6>
        <div class="table-responsive table-borderless">
          <table class="table table-sm">
      <!--       <colgroup>
              <col style="width:10%">
              <col style="width:15%">
              <col style="width:55%">
              <col style="width:10%">
              <col style="width:10%">
            </colgroup>  -->
          <thead>
            <tr class="custom_centered">
              <th style="font-size:11px;">Challenge ID</th>
              <th style="font-size:11px;">Account&nbsp;1</th>
              <th style="font-size:11px;">Account&nbsp;2</th>
              <th style="font-size:11px;">Your&nbsp;vote</th>
              <th style="font-size:11px;">Your&nbsp;choice</th>
              <th style="font-size:11px;"></th>
            </tr>
          </thead> 
            <tbody>
              {% for challengelink in challengelinks %}
              {% if challengelink %}
              <tr>
                <td style="vertical-align: middle;font-size:14px;"><a class="textlink" href="/challenges/{{ challengelink.challenge.id }}/">Challenge {{challengelink.challenge.id}}</a></td>
                <td style="vertical-align: middle;font-size:13px;"><a class="textlink" href="/accounts/{{ challengelink.challenge.defendant_1.public_key}}/"><img src="{% get_media_prefix %}{{ challengelink.challenge.defendant_1.photo }}" height="70" width="70"></a></td>
                <td style="vertical-align: middle;font-size:13px;"><a class="textlink" href="/accounts/{{ challengelink.challenge.defendant_2.public_key}}/"><img src="{% get_media_prefix %}{{ challengelink.challenge.defendant_2.photo }}" height="70" width="70"></a></td>
                <td style="vertical-align: middle;font-size:14px;">{{ challengelink.get_status_display }}{% if challengelink.matched == True %}&nbsp;&nbsp;(<b>m</b>){% endif %}</td>
                <td style="vertical-align: middle;font-size:14px;">{{ challengelink.get_status_who_display }}{% if challengelink.matched_who == True %}&nbsp;&nbsp;(<b>m</b>){% endif %}</td>
                <td style="vertical-align: middle;font-size:14px;">
                  <a class="textlink" href="/changevote-challenge/?id={{ challengelink.challenge.id }}">Change your vote</a>
                </td>
                <td style="vertical-align: middle;font-size:14px;">
                <div class="chat">
                {% if challengelink.has_new_message %}
                <img class="icon icon-ch noselect" id="icon_{{ challengelink.challenge.id }}" src='{% static "core/images/icon_new.png" %}' height="25" width="25">
                {% else %}
                <img class="icon icon-ch noselect" id="icon_{{ challengelink.challenge.id }}" src='{% static "core/images/icon.png" %}' height="25" width="25">
                {% endif %}
                </div>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card" style="height: 100%">
      <div>
      <div style="height:450px;overflow-y:scroll;">
      </div>
      <div class="input-group input-group-sm" style="border-top:1px solid #d5f6f1">
        <input style="height: 50px;overflow-y:scroll;border:none;position: relative;"  class="form-control"></input>
        <div class="input-group-append">
          <button style="height: 50px;border-color: #d5f6f1;border-right: none;border-bottom: none;border-top: none" class="btn btn-outline-secondary btn-send" type="button">Send</button>
        </div>
      </div>
    </div>
    {% for arrow in arrows %}
   <!--  {% if forloop.first %}
    <div id="chatarea_{{arrow.source.public_key}}">
      <div id="messagebox_{{arrow.source.public_key}}" style="height:450px;overflow-y:scroll;">
      <div id="messagebox_first" style="display:none">
      {% for msg in msgs %}

      {% if msg.sender == account and msg.recipient == arrow.source %}
      <p style="margin:5px">{{msg.content}}</p>
      {% elif msg.sender ==  arrow.source and msg.recipient == account %}
      <p>{{msg.content}}</p>
      {% else %}
      {% endif %}

      {% endfor %}
      </div>
      </div>
      <div class="input-group input-group-sm" style="border-top:1px solid #d5f6f1">
        <input id="chatbox_{{arrow.source.public_key}}"  style="height: 50px;overflow-y:scroll;border:none;"  class="form-control chatbox"></input>
        <div class="input-group-append">
          <button id="send_{{arrow.source.public_key}}" style="height: 50px;border-color: #d5f6f1;border-right: none;border-bottom: none;border-top: none" class="btn btn-outline-secondary btn-send send" type="button">Send</button>
        </div>
      </div>
    </div>
    {% endif %}
 -->

    <div id="chatarea_{{arrow.source.public_key}}" style="display:none">
      <div class="messagebox" id="messagebox_{{arrow.source.public_key}}" style="height:450px;overflow-y:scroll;">
      {% for msg in msgs %}

      {% if msg.sender == account and msg.recipient == arrow.source %}
      <p class="msg-r">{{msg.content}}</p>
      {% elif msg.sender ==  arrow.source and msg.recipient == account %}
      <p class="msg-l">{{msg.content}}</p>
      {% else %}
      {% endif %}

      {% endfor %}
      </div>
      <div class="input-group input-group-sm" style="border-top:1px solid #d5f6f1">
        <input  id="chatbox_{{arrow.source.public_key}}" style="height: 50px;overflow-y:scroll;border:none"  class="form-control chatbox"></input>
        <div class="input-group-append">
          <button id="send_{{arrow.source.public_key}}" style="height: 50px;border-color: #d5f6f1;border-right: none;border-bottom: none;border-top: none" class="btn btn-outline-secondary btn-send send" type="button">Send</button>
        </div>
      </div>
    </div>
    {% endfor %}
    {% for challengelink in challengelinks %}
    {% if challengelink %}
    <div id="chatarea_{{challengelink.challenge.id }}" style="display:none">
      <div class="messagebox-ch" id="messagebox_{{challengelink.challenge.id }}" style="height:450px;overflow-y:scroll;border-bottom:1px solid #d5f6f1">
      {% for msg_ch in msgs_ch %}

      {% if msg_ch.challenge == challengelink.challenge %}

      {% if msg_ch.sender == account %}
      <p class="msg-r">{{msg_ch.content}}</p>
      {% else %}
      <p class="msg-l">{{msg_ch.content}}<br><a class="msg-name textlink" href="/accounts/{{ msg_ch.sender.public_key }}/">{{msg_ch.sender.name}}</a></p>
      {% endif %}

      {% endif %}

      {% endfor %}
      </div>
      <div class="input-group input-group-sm">
        <input  id="chatbox_{{challengelink.challenge.id }}" style="height: 50px;overflow-y:scroll;border:none"  class="form-control chatbox-ch"></input>
        <div class="input-group-append">
          <button id="send_{{challengelink.challenge.id }}" style="height: 50px;border-color: #d5f6f1;border-right: none;border-bottom: none;border-top: none" class="btn btn-outline-secondary btn-send send-ch" type="button">Send</button>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

<div class="card" style="margin-top:80px">
<div class="card-body">
  <h6 style="text-align: left;font-size:14px;">Challenges&nbsp;by&nbsp;you:</h6>
  <div class="table-responsive table-borderless">
      <table class="table table-sm">
        <tbody>
          {% for challenge in challenges_by %}
          {% if challenge %}
          <tr>
            <td style="vertical-align: middle;font-size:13px;"><a style="color:#28bda4" href="/challenges/{{ challenge.id }}/">Challenge&nbsp;{{ challenge.id }}</a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
   <h6 style="text-align: left;font-size:14px;">Challenges&nbsp;against&nbsp;you:</h6>
   <div class="table-responsive table-borderless">
      <table class="table table-sm">
        <tbody>
          {% for challenge in challenges_against %}
          {% if challenge %}
          <tr>
            <td style="vertical-align: middle;font-size:13px;"><a style="color:#28bda4" href="/challenges/{{ challenge.id }}/">Challenge&nbsp;{{ challenge.id }}</a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="offerModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
     <form id="mainform" onsubmit="return validateForm()" method="post" role="form" autocomplete="off" novalidate action="{% url 'offer' %}">
     {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <label for="id_offer" class="font-weight-bold">Offer:</label>
          <input type="text" class="form-control" id="id_offer" name="offer" placeholder="">
          <div class="invalid-feedback" id="id_offer_feedback"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  id="CloseModal">Close</button>
        <button type="submit" class="btn btn-primary"  id="Submit">Create</button>  <!-- data-dismiss="modal" -->
      </div>
      </form>

    </div>
  </div>
</div>



<div class="card" style="margin-top:50px;margin-bottom: 80px">
<div class="card-body">
  <h6 style="text-align: left;font-size:14px;">Your offer:</h6>
  <div class="table-responsive table-borderless">
      <table class="table table-sm">
        <tbody>
          {% if offer %}
          <tr><td style="vertical-align: middle;font-size:13px;">
          <form method="post" action="{% url 'offer_delete' %}">
          {% csrf_token %}
          {{offer}}<button type="submit" class="btn btn-outline-danger btn-sm" style="float: right;">Delete</button> 
          </form>
          </td></tr>
          {% else %}
          <tr><td style="vertical-align: middle;font-size:13px;"><a data-target="#offerModal" data-toggle="modal" class="MainNavText" id="MainNavHelp" href="#myModal" style="color:#28bda4">Create offer</a></td></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
</div>
</div>

</div>

{% endblock %}


{% block script %}
<script type="text/javascript">


$('#CloseModal').on('click', function() {
  $('#offerModal').modal('hide');
});

function validateForm() {
  if( $("#id_offer").val() == "" ){
      $('#id_offer_feedback').text('This field is required.');
      $("#id_offer").addClass("is-invalid");
      return false;
    } else if($("#id_offer").val().length > 120){   
      $('#id_offer_feedback').text('Maximum 120 characters.');
      $("#id_offer").addClass("is-invalid");
      return false;
    } else {
      $("#id_offer").removeClass("is-invalid");
      return true;
    };
}


var chat_icon_url = '{% static "core/images/icon.png" %}';
var chat_icon_new_url = '{% static "core/images/icon_new.png" %}';
var chat_icon_active_url = '{% static "core/images/icon_active.png" %}';
$(".icon").click(function(){
  $('.icon').each(function(){
    if ($(this).attr("src") == chat_icon_active_url) {
      $(this).attr("src",chat_icon_url);
    }
  });
  $(this).attr("src",chat_icon_active_url);
  var target = $(this).attr('id').slice(5);
  $("#chatarea_"+target).show().siblings("div").hide();
  $("#messagebox_"+target).scrollTop(function() { return this.scrollHeight; });
  var is_ch = $(this).hasClass("icon-ch")

  var token = '{{csrf_token}}';
  $.ajax({
      headers: { "X-CSRFToken": token },
      dataType: 'json',
      type: "POST",
      url: "/mark_read/",
      data: { 'is_ch': is_ch, 'target': target },
  });
});

$(".icon").first().click()


var username = "{{username}}"
var chatSocket = new WebSocket('ws://'+window.location.host+'/ws/chat/' + username + '/');
var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
//var chatSocket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/ws/chat" +  + username + '/');

$(".chatbox").keyup(function(e){
  if (e.keyCode === 13) {
    var chatbox_id = $(this).attr('id')
    var target = chatbox_id.slice(8);
    var message = $(this).val()
    if (message != null && message.trim() != '') {
      chatSocket.send(JSON.stringify({
       'target_type': 'account',
       'target': target,
       'message': message
      }));
    }
    $(this).val('');
  }
})

$(".send").click(function(){
  var send_id = $(this).attr('id')
  var target = send_id.slice(5);
  var chatbox_id = 'chatbox_'.concat(target);
  var message = $('#'+chatbox_id).val()
  if (message != null && message.trim() != '') {
    chatSocket.send(JSON.stringify({
      'target_type': 'account',
      'target': target,
      'message': message
    }));
  }
  $('#'+chatbox_id).val('');
});

$(".chatbox-ch").keyup(function(e){
  if (e.keyCode === 13) {
    var chatbox_id = $(this).attr('id')
    var target = chatbox_id.slice(8);
    var message = $(this).val()
    if (message != null && message.trim() != '') {
      chatSocket.send(JSON.stringify({
       'target_type': 'challenge',
       'target': target,
       'message': message
      }));
    }
    $(this).val('');
  }
})

$(".send-ch").click(function(){
  var send_id = $(this).attr('id')
  var target = send_id.slice(5);
  var chatbox_id = 'chatbox_'.concat(target);
  var message = $('#'+chatbox_id).val()
  if (message != null && message.trim() != '') {
    chatSocket.send(JSON.stringify({
      'target_type': 'challenge',
      'target': target,
      'message': message
    }));
  }
  $('#'+chatbox_id).val('');
  //console.log(target)
});

chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var event_type = data['event_type'];
    var message = data['message'];
    var target = data['target'];
    var sender_name = data['sender_name'];
    var sender_public_key = data['sender_public_key'];
    //console.log(event_type)
    if (event_type == 'message_out') {
      $('#messagebox_'+target).append("<p class='msg-r'>"+message+"</p>");
    } else {
      if ($('#messagebox_'+target).hasClass("messagebox-ch")) {
        var public_key = $('#messagebox_'+target).append("<p class='msg-l'>"+message+"<br><a class='msg-name textlink' href='/accounts/"+sender_public_key+"/'>"+sender_name+"</a></p>");
      } else {
        $('#messagebox_'+target).append("<p class='msg-l'>"+message+"</p>");
      }
      if ($('#chatarea_'+target).is(":hidden")) {
         $('#icon_'+target).attr("src",chat_icon_new_url);
      }
    };
    $("#messagebox_"+target).scrollTop(function() { return this.scrollHeight; });
 };

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};
</script>
{% endblock script %} 



 <div class="card-body">
 notinuse
<!--       <h6 style="text-align: center;font-size:14px;"><b>Vote totals:</b> Trust={{total_trust}}, Distrust={{total_distrust}}, Neutral={{total_neutral}}</h6>
 -->      <h6 style="text-align: center;font-size:14px;"><b>Verification&nbsp;score:</b>&nbsp;{{score}}&#37;</h6>
<!--       <h6 style="text-align: center;font-size:14px;"><b>No. matched votes:</b>&nbsp;{{account.matched_count}}</h6>
 -->      <h6 style="text-align: center;font-size:14px;"><b>Countdown timer:</b>&nbsp; <span id="time" style="width:110px;display: inline-block;">{{countdown}}</span></h6>
      <div class="table-responsive table-borderless">
        <table class="table table-sm">
          <colgroup>
            <col style="width:10%">
            <col style="width:15%">
            <col style="width:55%">
            <col style="width:10%">
            <col style="width:10%">
          </colgroup> 
          <thead>
            <tr class="custom_centered">
              <th style="font-size:11px;"></th>
              <th style="font-size:11px;"></th>
              <th style="font-size:11px;"></th>
              <th style="font-size:11px;">Vote&nbsp;recieved</th>
              <th style="font-size:11px;">Vote&nbsp;given</th>
            </tr>
          </thead> 
          <tbody>
            {% for arrow in arrows %}
            {% if arrow %}
            <tr>
              <td style="vertical-align: middle;"><img src="{% get_media_prefix %}{{ arrow.source.photo }}" height="70" width="70"></td>
               <td style="vertical-align: middle;font-size:14px;">{{arrow.source.name}}</td>
              <td style="vertical-align: middle;font-size:13px;"><a style="color:#28bda4" href="/accounts/{{ arrow.source.public_key }}/">{{ arrow.source.public_key }}</a></td>
              <td style="vertical-align: middle;font-size:14px;">{{arrow.get_status_display}}</td>
              <td style="vertical-align: middle;font-size:14px;">{{arrow.opposite.get_status_display}}</td>
              <!--                   <td style="vertical-align: middle;font-size:14px;">{% if account.verified %}<span class="text-success">Verified</span>{% else %}<span class="text-secondary">Not&nbsp;Verified</span>{% endif %}</td> -->
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>