{% extends "base.html" %}

{% load static %}

{% block style %}  
<style>
.chat:hover{
  cursor: pointer;
}
.row2{
  font-size:14px;
  margin-top:0.4rem;
  margin-bottom:0.4rem;
}

#chatbox {
    position: relative;
}
#messageinput {
    position: absolute;
    bottom: 0;
}

textarea::-webkit-scrollbar {
    display: none;
}
textarea {
   resize: none;
}
div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

div::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb
{
  background-color: #000000;
}




#btn-send {
    color: #28bda4;
    background-color: white;
}
#btn-send:hover, .btn-send:focus, .btn-send:active, .btn-send:active:focus, .btn-send.active, .open>.dropdown-toggle.btn-send {
    color: #28bda4;
    background-color: white;
}
</style>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:50px;">
  <div class="card" style="margin-bottom: 20px">
    <div class="card-body">
      <div class="row">
        {% if account.registered %}
        <div class="col-xl-2"  style="padding-top:10px;">
          <img src="{% get_media_prefix %}{{ account.photo }}" height="170" width="170">
        </div> 
        <div class="col-xl-10">
          <div class="row row2">
            <div class="col-md-2">Public&nbsp;Key:</div>
            <div class="col-md-10">{{ account.public_key }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Name:</div>
            <div class="col-md-10">{{ account.name }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Balance:</div>
            <div class="col-md-10">{{ account.balance }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Sequence:</div>
            <div class="col-md-10">{{ account.sequence_next }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Photo&nbsp;hash:</div>
            <div class="col-md-10 overflow" data-container="body" data-toggle="popover" data-placement="bottom" data-content='{{ account.photo_hash }}'>{{ account.photo_hash }}</div>
          </div>
          <div class="row row2">
            <div class="col-md-2">Txn&nbsp;history:</div>
            <div class="col-md-10"><a style="color:#28bda4" href="/myaccount/history">View all transactions</a></div>
          </div>
          {% if account.committed %}
          <div class="row row2">
            <div class="col-md-2">Commitment:</div>
            <div class="col-md-7">{{ account.committed_hash }}</div>
            {% if time_status == 'early' %}
            <div class="col-md-3 text-muted">Reveal&nbsp;value in {{timer}}</div>
            {% elif time_status == 'ready'  %}
            <div class="col-md-3 text-muted"><a style="color:#28bda4" href="/reveal">Reveal&nbsp;value</a>. Time left {{timer}}</div>
            {% else %}
            <div class="col-md-3 text-muted">Too late to reveal&nbsp;value</div>
            {% endif %}
          </div>
          {% endif %}
        </div>
        {% else %}
        <div class="col-xl-2">
          <!-- Matthieu James [GPL (http://www.gnu.org/licenses/gpl.html)] -->
          <img src='https://upload.wikimedia.org/wikipedia/commons/f/fd/Faenza-avatar-default-symbolic.svg' height="170" width="170">
        </div> 
        <div class="col-xl-10">
        g
        </div>
        {% endif %}
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-8">
    <div class="card" style="height: 100%;">
      <div class="card-body" style="height: 500px;overflow-y:scroll;">
        <h6 style="font-family: 'Garamond';text-align: center;margin-bottom: 15px;">Links</h6>
        <div class="table-responsive table-borderless">
          <table class="table table-sm">
      <!--       <colgroup>
              <col style="width:10%">
              <col style="width:15%">
              <col style="width:55%">
              <col style="width:10%">
              <col style="width:10%">
            </colgroup>  -->
          <thead>
            <tr class="custom_centered">
              <th style="font-size:11px;">Photo</th>
              <th style="font-size:11px;">Name</th>
              <th style="font-size:11px;">Their Vote</th>
              <th style="font-size:11px;">Your Vote</th>
              <th style="font-size:11px;"></th>
            </tr>
          </thead> 
            <tbody>
              {% for arrow in arrows %}
              {% if arrow %}
              <tr>
                <td style="vertical-align: middle;">
                  <img src="{% get_media_prefix %}{{ arrow.source.photo }}" height="70" width="70">
                </td>
                <td style="vertical-align: middle;font-size:14px;">
                  <a class="textlink" href="/accounts/{{ arrow.source.public_key }}/">{{arrow.source.name}}</a>
                </td>
                <td style="vertical-align: middle;font-size:14px;">{{ arrow.get_status_display }}{% if arrow.matched == True %}&nbsp;&nbsp;(<b>m</b>){% endif %}</td>
                <td style="vertical-align: middle;font-size:14px;">{{ arrow.opposite.get_status_display }}{% if arrow.opposite.matched == True %}&nbsp;&nbsp;(<b>m</b>){% endif %}</td>
                
<!--                 <td style="vertical-align: middle;font-size:14px;">
                  {% if arrow.status == 'Trust' %}
                  <span class="text-success">Trust</span>
                  {% elif arrow.status == 'Distrust' %}
                  <span class="text-danger">Distrust</span>
                  {% else %}
                  <span class="text-secondary">Neutral</span>
                  {% endif %}
                </td>
                <td style="vertical-align: middle;font-size:14px;">
                  {% if arrow.opposite.status == 'Trust' %}
                  <span class="text-success">Trust</span>
                  {% elif arrow.opposite.status == 'Distrust' %}
                  <span class="text-danger">Distrust</span>
                  {% else %}
                  <span class="text-secondary">Neutral</span>
                  {% endif %}
                </td> -->
                <td style="vertical-align: middle;font-size:14px;">
                  <a class="textlink" href="/changevote/?target={{ arrow.source.public_key }}">Change your vote</a>
                </td>
                <td style="vertical-align: middle;font-size:14px;">
                <div id="{{ arrow.source.public_key }}" class="chat">
                  <img src='https://upload.wikimedia.org/wikipedia/commons/3/39/Internet-group-chat.svg' height="25" width="25">
                </div>
                </td>

                <!--                   <td style="vertical-align: middle;font-size:14px;">{% if account.verified %}<span class="text-success">Verified</span>{% else %}<span class="text-secondary">Not&nbsp;Verified</span>{% endif %}</td> -->
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <br>


        <h6 style="font-family: 'Garamond';text-align: center;margin-bottom: 15px;">Challenges</h6>
        <div class="table-responsive table-borderless">
          <table class="table table-sm">
      <!--       <colgroup>
              <col style="width:10%">
              <col style="width:15%">
              <col style="width:55%">
              <col style="width:10%">
              <col style="width:10%">
            </colgroup>  -->
          <thead>
            <tr class="custom_centered">
              <th style="font-size:11px;">Challenge ID</th>
              <th style="font-size:11px;">Account&nbsp;1</th>
              <th style="font-size:11px;">Account&nbsp;2</th>
              <th style="font-size:11px;">Your&nbsp;vote</th>
              <th style="font-size:11px;">Your&nbsp;choice</th>
              <th style="font-size:11px;"></th>
            </tr>
          </thead> 
            <tbody>
              {% for challengelink in challengelinks %}
              {% if challengelink %}
              <tr>
                <td style="vertical-align: middle;font-size:14px;"><a class="textlink" href="/challenges/{{ challengelink.challenge.id }}/">Challenge {{challengelink.challenge.id}}</a></td>
                <td style="vertical-align: middle;font-size:13px;"><a class="textlink" href="/accounts/{{ challengelink.challenge.defendant_1.public_key}}/"><img src="{% get_media_prefix %}{{ challengelink.challenge.defendant_1.photo }}" height="70" width="70"></a></td>
                <td style="vertical-align: middle;font-size:13px;"><a class="textlink" href="/accounts/{{ challengelink.challenge.defendant_2.public_key}}/"><img src="{% get_media_prefix %}{{ challengelink.challenge.defendant_2.photo }}" height="70" width="70"></a></td>
                <td style="vertical-align: middle;font-size:14px;">{{ challengelink.get_status_display }}{% if challengelink.matched == True %}&nbsp;&nbsp;(<b>m</b>){% endif %}</td>
                <td style="vertical-align: middle;font-size:14px;">{{ challengelink.get_status_who_display }}{% if challengelink.matched_who == True %}&nbsp;&nbsp;(<b>m</b>){% endif %}</td>
                <td style="vertical-align: middle;font-size:14px;">
                  <a class="textlink" href="/changevote-challenge/?id={{ challengelink.challenge.id }}">Change your vote</a>
                </td>
                <td style="vertical-align: middle;font-size:14px;">
                <div id="{{ arrow.source.public_key }}" class="chat">
                  <img src='https://upload.wikimedia.org/wikipedia/commons/3/39/Internet-group-chat.svg' height="25" width="25">
                </div>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  <div class="card" style="height: 100%;">
   <div id="chatbox" style="height:450px;overflow-y:scroll;border-bottom:1px solid #d5f6f1"></div>
      <div class="input-group input-group-sm">
        <textarea  style="height: 50px;overflow-y:scroll;border:none"  class="form-control"></textarea>
        <div class="input-group-append">
          <button id="btn-send" style="height: 50px;border-color: #d5f6f1;border-right: none;border-bottom: none;border-top: none" class="btn btn-outline-secondary" type="button">Send</button>
        </div>
      </div>
  </div>
 </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>

    What chat room would you like to enter?<br/>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/>
    <br>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>



  <div class="card" style="margin-top:80px">
  <div class="card-body">
    <h6 style="text-align: left;font-size:14px;">Challenges&nbsp;by&nbsp;you:</h6>
    <div class="table-responsive table-borderless">
        <table class="table table-sm">
          <tbody>
            {% for challenge in challenges_by %}
            {% if challenge %}
            <tr>
              <td style="vertical-align: middle;font-size:13px;"><a style="color:#28bda4" href="/challenges/{{ challenge.id }}/">Challenge&nbsp;{{ challenge.id }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
     <h6 style="text-align: left;font-size:14px;">Challenges&nbsp;against&nbsp;you:</h6>
     <div class="table-responsive table-borderless">
        <table class="table table-sm">
          <tbody>
            {% for challenge in challenges_against %}
            {% if challenge %}
            <tr>
              <td style="vertical-align: middle;font-size:13px;"><a style="color:#28bda4" href="/challenges/{{ challenge.id }}/">Challenge&nbsp;{{ challenge.id }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="offerModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
     <form id="mainform" onsubmit="return validateForm()" method="post" role="form" autocomplete="off" novalidate action="{% url 'offer' %}">
     {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <label for="id_offer" class="font-weight-bold">Offer:</label>
          <input type="text" class="form-control" id="id_offer" name="offer" placeholder="">
          <div class="invalid-feedback" id="id_offer_feedback"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  id="CloseModal">Close</button>
        <button type="submit" class="btn btn-primary"  id="Submit">Create</button>  <!-- data-dismiss="modal" -->
      </div>
      </form>

    </div>
  </div>
</div>



<div class="card" style="margin-top:50px;margin-bottom: 80px">
<div class="card-body">
  <h6 style="text-align: left;font-size:14px;">Your offer:</h6>
  <div class="table-responsive table-borderless">
      <table class="table table-sm">
        <tbody>
          {% if offer %}
          <tr><td style="vertical-align: middle;font-size:13px;">
          <form method="post" action="{% url 'offer_delete' %}">
          {% csrf_token %}
          {{offer}}<button type="submit" class="btn btn-outline-danger btn-sm"  style="float: right;">Delete</button> 
          </form>
          </td></tr>
          {% else %}
          <tr><td style="vertical-align: middle;font-size:13px;"><a data-target="#offerModal" data-toggle="modal" class="MainNavText" id="MainNavHelp" href="#myModal" style="color:#28bda4">Create offer</a></td></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
</div>
</div>

</div>

{% endblock %}

{% block script %}
<script type="text/javascript">


$('#CloseModal').on('click', function() {
  $('#offerModal').modal('hide');
});

function validateForm() {
  if( $("#id_offer").val() == "" ){
      $('#id_offer_feedback').text('This field is required.');
      $("#id_offer").addClass("is-invalid");
      return false;
    } else if($("#id_offer").val().length > 120){   
      $('#id_offer_feedback').text('Maximum 120 characters.');
      $("#id_offer").addClass("is-invalid");
      return false;
    } else {
      $("#id_offer").removeClass("is-invalid");
      return true;
    };
}



// function whichButton(buttonElement){
//   alert(buttonElement.id);
//   var buttonClickedId = buttonElement.id;
//   if( buttonClickedId === 'btn1' ){
//      // do btn1 stuff
//   }
//   else if( buttonClickedId === 'btn2' ){
//      // do btn2 stuff
//   }
//   // ...
//   else{
//      // don't know which button was clicked
//   }

// }



// var chatSocket
// $(".chat").click(function(){
//   var target_pk = $(this).attr('id');
//   // $.get("/chatmessages/", {targetpk : target_pk}, function(data) {
//   //     $('#chatbox').text(data['key']);
//   // });
//   chatSocket = new WebSocket('ws://'+ window.location.host +'/ws/chat/' + target_pk + '/');
//   //console.log(chatSocket)
// });

// console.log(chatSocket)
//  //var chatSocket = new WebSocket('ws://'+ window.location.host +'/ws/chat/'  + '/');




document.querySelector('#room-name-input').focus();
document.querySelector('#room-name-input').onkeyup = function(e) {
    if (e.keyCode === 13) {  // enter, return
        document.querySelector('#room-name-submit').click();
    }
};

document.querySelector('#room-name-submit').onclick = function(e) {
    var roomName = document.querySelector('#room-name-input').value;
    window.location.pathname = '/chat/' + roomName + '/';
};


  



//var roomName = {{ room_name_json }};
var roomName = '414f';

var chatSocket = new WebSocket(
    'ws://' + window.location.host +
    '/ws/chat/' + roomName + '/');

chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    document.querySelector('#chat-log').value += (message + '\n');
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.keyCode === 13) {  // enter, return
        document.querySelector('#chat-message-submit').click();
    }
};

document.querySelector('#chat-message-submit').onclick = function(e) {
    var messageInputDom = document.querySelector('#chat-message-input');
    var message = messageInputDom.value;
    chatSocket.send(JSON.stringify({
        'message': message
    }));

    messageInputDom.value = '';
};



</script>
{% endblock script %} 



 <div class="card-body">
<!--       <h6 style="text-align: center;font-size:14px;"><b>Vote totals:</b> Trust={{total_trust}}, Distrust={{total_distrust}}, Neutral={{total_neutral}}</h6>
 -->      <h6 style="text-align: center;font-size:14px;"><b>Verification&nbsp;score:</b>&nbsp;{{score}}&#37;</h6>
<!--       <h6 style="text-align: center;font-size:14px;"><b>No. matched votes:</b>&nbsp;{{account.matched_count}}</h6>
 -->      <h6 style="text-align: center;font-size:14px;"><b>Countdown timer:</b>&nbsp; <span id="time" style="width:110px;display: inline-block;">{{countdown}}</span></h6>
      <div class="table-responsive table-borderless">
        <table class="table table-sm">
          <colgroup>
            <col style="width:10%">
            <col style="width:15%">
            <col style="width:55%">
            <col style="width:10%">
            <col style="width:10%">
          </colgroup> 
          <thead>
            <tr class="custom_centered">
              <th style="font-size:11px;"></th>
              <th style="font-size:11px;"></th>
              <th style="font-size:11px;"></th>
              <th style="font-size:11px;">Vote&nbsp;recieved</th>
              <th style="font-size:11px;">Vote&nbsp;given</th>
            </tr>
          </thead> 
          <tbody>
            {% for arrow in arrows %}
            {% if arrow %}
            <tr>
              <td style="vertical-align: middle;"><img src="{% get_media_prefix %}{{ arrow.source.photo }}" height="70" width="70"></td>
               <td style="vertical-align: middle;font-size:14px;">{{arrow.source.name}}</td>
              <td style="vertical-align: middle;font-size:13px;"><a style="color:#28bda4" href="/accounts/{{ arrow.source.public_key }}/">{{ arrow.source.public_key }}</a></td>
              <td style="vertical-align: middle;font-size:14px;">{{arrow.get_status_display}}</td>
              <td style="vertical-align: middle;font-size:14px;">{{arrow.opposite.get_status_display}}</td>
              <!--                   <td style="vertical-align: middle;font-size:14px;">{% if account.verified %}<span class="text-success">Verified</span>{% else %}<span class="text-secondary">Not&nbsp;Verified</span>{% endif %}</td> -->
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>