{% extends "form.html" %}

{% block formcss %}
<style type="text/css">
#form_container {
  padding-top:150px;
}
</style>
{% endblock formcss %}

{% block formfields %}
<div class="form-group row">
  <label for="id_username" class="col-sm-2 col-form-label">Public Key:</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="id_username" placeholder="" name="username" autocomplete="off">
    <div class="invalid-feedback" id="id_username_feedback"></div>
  </div>
</div>
<div class="form-group row">
  <label for="id_new_password" class="col-sm-2 col-form-label"  data-toggle="tooltip" data-placement="bottom" title="this will be ur new pw man">New Password:</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" id="id_new_password" placeholder=""  name="new_password" autocomplete="off">
    <div class="invalid-feedback" id="id_new_password_feedback"></div>
  </div>
</div>
{% endblock formfields %}


{% block formscript %}
<script type="text/javascript">
function checkNewPassword() {
  if( $("#id_new_password").val() == "" ){
    $('#id_new_password_feedback').text('This field is required.');
    $("#id_new_password").addClass("is-invalid");
    return false;
  } else {
    $("#id_new_password").removeClass("is-invalid");
    return true;
  }
}

function checkFields() {
  var is_valid = true;
  is_valid = checkUsername() && is_valid;
  is_valid = checkNewPassword() && is_valid;
  return is_valid;
}
   
function updateTxnString() {
  $("#id_username").val($("#id_username").val().trim());
  var TxnString = 'Type:PasswordReset,PublicKey:'+ $("#id_username").val() +',NewPassword:'+ $("#id_new_password").val();
  $('#txnstring').val(TxnString);
  $('#modal_txnstring').val(TxnString);
}

$("#id_username,#id_new_password").on("change paste keyup input", function() {
  updateTxnString();
  if($("#id_signature").val() != ""){
    checkSignature()
  };
});

$('#id_new_password').on('blur', function() {
  if( $(this).val() != ""){
    checkSeqNo()
  };
  if( $("#id_signature").val() != ""){ 
    checkSignature() 
  };    
});
</script>
{% endblock formscript %}