{% extends "base.html" %}

{% block style %} 
<style type="text/css">
  .row{
    font-size:14px;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
  }
</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:50px;">
  <div class="card">
    <div class="card-body">
      <div class="row"><div class="col-md-2">Txn&nbsp;Number:</div><div class="col-md-10">{{ txn.id }}</div></div>
      <div class="row"><div class="col-md-2">Created:</div><div class="col-md-10">{{ txn.txn_created }}</div></div>
      <div class="row"><div class="col-md-2">Type:</div><div class="col-md-10">{{ txn.txn_type }}</div></div>
      <div class="row"><div class="col-md-2">Sender:</div><div class="col-md-10"><a class="textlink" href="/accounts/{{ txn.sender.public_key }}/">{{ txn.sender.public_key }}</a></div></div>
      <div class="row"><div class="col-md-2">Sender&nbsp;SeqNo:</div><div class="col-md-10">{{ txn.sender_seq_no }}</div></div>
      {% if txn.txn_type == 'Transfer' %}
      <div class="row"><div class="col-md-2">Recipient:</div><div class="col-md-10"><a class="textlink" href="/accounts/{{ txn.recipient.public_key }}/">{{ txn.recipient.public_key }}</a></div></div>
      <div class="row"><div class="col-md-2">Amount:</div><div class="col-md-10">{{ txn.amount }}</div></div>
      {% elif txn.txn_type == 'Registration' %}
      <div class="row"><div class="col-md-2">Name:</div><div class="col-md-10">{{ txn.name }}</div></div>
      <div class="row"><div class="col-md-2">Photo&nbsp;hash:</div><div class="col-md-10 overflow" data-container="body" data-toggle="popover"  data-placement="bottom" data-content = '{{ account.photo_hash }}' >{{ txn.photo_hash }}</div></div>
      {% elif txn.txn_type == 'ChangeVote' %}
      <div class="row"><div class="col-md-2">Target:</div><div class="col-md-10"><a class="textlink" href="/accounts/{{ txn.recipient.public_key }}/">{{ txn.recipient.public_key }}</a></div></div>
      <div class="row"><div class="col-md-2">Vote:</div><div class="col-md-10">{{ txn.vote }}</div></div>
      {% endif %}

      <div class="row"><div class="col-md-2">Message:</div><div class="col-md-10">{{ txn.txn_message }}</div></div>
      <div class="row"><div class="col-md-2">Signature:</div><div class="col-md-10">{{ txn.signature }}</div></div>

      <div class="row"><div class="col-md-2">Txn Data:</div><div class="col-md-10" style="word-break: break-all;">{{ txn.txn_data }}</div></div>
      <div class="row"><div class="col-md-2">Txn Hash:</div><div class="col-md-10">{{ txn.txn_hash }}</div></div>

    </div>
  </div>
</div>

<!-- 
<div class="container">
  <div class="container2 mx-auto" >
    <form>
      <div class="form-row justify-content-md-center  border rounded p-2" style="background-color:white" >
        <div class="col my-1">
          <div class="form-row mb-2">
            <div class="col-2 "><span style="font-weight: 500">Txn Type:</span></div>
            <div class="col">
              <div class="form-check form-check-inline">
              <label class="form-check-label mr-1" for="inlineCheckbox1">Transfers</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
              <label class="form-check-label mr-1" for="inlineCheckbox1">Registrations</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
              <label class="form-check-label mr-1" for="inlineCheckbox1">Challenges</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
              <label class="form-check-label mr-1" for="inlineCheckbox1">Votes</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
              <label class="form-check-label mr-1" for="inlineCheckbox1">Links</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
              <label class="form-check-label mr-1" for="inlineCheckbox1">Income</label>
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-2 my-auto"><span style="font-weight: 500">Date Range:</span></div>
            <div class="col pl-4 pr-4">
              <div class="row">
                <label class="my-auto col-2" for="inputPassword">From</label>
                <div class="col-6">
                  <input class="form-control form-control-sm datepicker" data-date-format="dd/mm/yyyy" id="datepickerfrom">
                </div>
              </div>
            </div>
            <div class="col  pl-4 pr-4">
              <div class="row">
                <label class="my-auto col-2"  for="inputPassword">&nbsp;&nbsp;&nbsp;&nbsp;To</label>
                <div class="col-6">
                  <input class="form-control form-control-sm datepicker" data-date-format="dd/mm/yyyy" id="datepickerto">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto my-1 pl-2 justify-content-center align-self-center">
          <button type="submit" class="btn btn-secondary">Filter Transactions</button>
        </div>
      </div>
    </form>
  </div>
</div> -->
{% endblock %}
{% block script %}
{% endblock %}
