{% extends "base.html" %}

{% block style %} 
<style type="text/css">
  .row{
    font-size:14px;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
  }
</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:50px;">
  <div class="card">
    <div class="card-body">
      <div class="row"><div class="col-md-2">Txn&nbsp;Number:</div><div class="col-md-10">{{ txn.id }}</div></div>
      <div class="row"><div class="col-md-2">Created:</div><div class="col-md-10">{{ txn.txn_created }}</div></div>
      <div class="row"><div class="col-md-2">Type:</div><div class="col-md-10">{{ txn.txn_type }}</div></div>
      <div class="row"><div class="col-md-2">Sender:</div><div class="col-md-10"><a class="textlink" href="/accounts/{{ txn.sender.public_key }}/">{{ txn.sender.public_key }}</a></div></div>
      <div class="row"><div class="col-md-2">Sender&nbsp;SeqNo:</div><div class="col-md-10">{{ txn.sender_seq_no }}</div></div>
      {% if txn.txn_type == 'Transfer' %}
      <div class="row"><div class="col-md-2">Recipient:</div><div class="col-md-10"><a class="textlink" href="/accounts/{{ txn.recipient.public_key }}/">{{ txn.recipient.public_key }}</a></div></div>
      <div class="row"><div class="col-md-2">Amount:</div><div class="col-md-10">{{ txn.amount }}</div></div>
      {% elif txn.txn_type == 'Registration' %}
      <div class="row"><div class="col-md-2">Name:</div><div class="col-md-10">{{ txn.name }}</div></div>
      <div class="row"><div class="col-md-2">Photo&nbsp;hash:</div><div class="col-md-10 overflow" data-container="body" data-toggle="popover"  data-placement="bottom" data-content = '{{ account.photo_hash }}' >{{ txn.photo_hash }}</div></div>
      {% elif txn.txn_type == 'ChangeVote' %}
      <div class="row"><div class="col-md-2">Target:</div><div class="col-md-10"><a class="textlink" href="/accounts/{{ txn.recipient.public_key }}/">{{ txn.recipient.public_key }}</a></div></div>
      <div class="row"><div class="col-md-2">Vote:</div><div class="col-md-10">{{ txn.vote }}</div></div>
      {% endif %}

      <div class="row"><div class="col-md-2">Message:</div><div class="col-md-10">{{ txn.txn_message }}</div></div>
      <div class="row"><div class="col-md-2">Signature:</div><div class="col-md-10">{{ txn.signature }}</div></div>

      <div class="row"><div class="col-md-2">Txn Data:</div><div class="col-md-10" style="word-break: break-all;">{{ txn.txn_data }}</div></div>
      <div class="row"><div class="col-md-2">Txn Hash:</div><div class="col-md-10">{{ txn.txn_hash }}</div></div>

    </div>
  </div>
</div>



 <br>
 <br>
 <br>
 <br>
      


    <div class="container">
      <div class="container2 mx-auto" >
        <form>
          <div class="form-row justify-content-md-center  border rounded p-2" style="background-color:white" >
            <div class="col my-1">
              <div class="form-row mb-2">
                <div class="col-2 "><span style="font-weight: 500">Txn Type:</span></div>
                <div class="col">
                  <div class="form-check form-check-inline">
                  <label class="form-check-label mr-1" for="inlineCheckbox1">Transfers</label>
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                  <label class="form-check-label mr-1" for="inlineCheckbox1">Registrations</label>
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                  <label class="form-check-label mr-1" for="inlineCheckbox1">Challenges</label>
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                  <label class="form-check-label mr-1" for="inlineCheckbox1">Votes</label>
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                  <label class="form-check-label mr-1" for="inlineCheckbox1">Links</label>
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
                <div class="col">
                  <div class="form-check form-check-inline">
                  <label class="form-check-label mr-1" for="inlineCheckbox1">Income</label>
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-2 my-auto"><span style="font-weight: 500">Date Range:</span></div>
                <div class="col pl-4 pr-4">
                  <div class="row">
                    <label class="my-auto col-2" for="inputPassword">From</label>
                    <div class="col-6">
                      <input class="form-control form-control-sm datepicker" data-date-format="dd/mm/yyyy" id="datepickerfrom">
                    </div>
                  </div>
                </div>
                <div class="col  pl-4 pr-4">
                  <div class="row">
                    <label class="my-auto col-2"  for="inputPassword">&nbsp;&nbsp;&nbsp;&nbsp;To</label>
                    <div class="col-6">
                      <input class="form-control form-control-sm datepicker" data-date-format="dd/mm/yyyy" id="datepickerto">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto my-1 pl-2 justify-content-center align-self-center">
              <button type="submit" class="btn btn-secondary">Filter Transactions</button>
            </div>
          </div>
        </form>
      </div>
    <br>
  <div class="row justify-content-md-center">
      <div class="col-12">
      <div class="card rounded-0 ">
        <div class="card-body">
          <h6 style="font-family: 'Garamond'">Recent Transactions</h6>
          <div class="table-responsive">
            <table class="table table-sm">
              <tbody>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;sent&nbsp;190&nbsp;to&nbsp;account&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;initiated&nbsp;challenge&nbsp;t43349yu85y&nbsp;against&nbsp;the&nbsp;accounts&nbsp;22nt34tj9yjr5y&nbsp;and&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;sent&nbsp;190&nbsp;to&nbsp;account&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;initiated&nbsp;challenge&nbsp;t43349yu85y&nbsp;against&nbsp;the&nbsp;accounts&nbsp;22nt34tj9yjr5y&nbsp;and&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;sent&nbsp;190&nbsp;to&nbsp;account&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;initiated&nbsp;challenge&nbsp;t43349yu85y&nbsp;against&nbsp;the&nbsp;accounts&nbsp;22nt34tj9yjr5y&nbsp;and&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;sent&nbsp;190&nbsp;to&nbsp;account&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;initiated&nbsp;challenge&nbsp;t43349yu85y&nbsp;against&nbsp;the&nbsp;accounts&nbsp;22nt34tj9yjr5y&nbsp;and&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;sent&nbsp;190&nbsp;to&nbsp;account&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
                <tr><td>Txn:&nbsp;14346344</td><td>Account&nbsp;26yny348jyegh&nbsp;initiated&nbsp;challenge&nbsp;t43349yu85y&nbsp;against&nbsp;the&nbsp;accounts&nbsp;22nt34tj9yjr5y&nbsp;and&nbsp;22nt34tj9yjr5y</td><td>1&nbsp;min&nbsp;ago</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      </div>
    <br>
<div class="card">
<div class="card-body">

<div class="table-responsive">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Txn No.</th>
      <th scope="col">Type</th>
      <th scope="col">Sender</th>
      <th scope="col">Hash</th>
      <th scope="col">Created_at(time ago)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>Otto</td>
    </tr>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>Otto</td>
    </tr>
    <tr><td>Mark</td><td>Otto</td><td>@mdo</td><td>@mdo</td><td>Otto</td></tr>
  </tbody>
</table>
</div>
</div>
</div>

<div class="card mt-3">
<div class="card-block">
<div class="row"><div class="col-md-12">
<div class="table-responsive">
<table class="table" id="txs">
<thead><tr><th>Hash</th><th>Block</th><th>Type</th><th>From</th><th>To</th><th>Value</th><th>Fee</th><th>Gas Price</th><th>Time</th></tr></thead>
<tbody class="font-weight-bold" style="display: table-row-group; vertical-align: middle;    border-color: inherit;">
   <tr>      <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>c</td><td>d</td><td>e</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>j</td><td>g</td><td>x</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>n</td><td>a</td><td>c</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>s</td><td>o</td><td>s</td>    </tr>    <tr>     <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>    <td>v</td><td>u</td><td>n</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>w</td><td>m</td><td>a</td>    </tr>    
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<div class="card mt-3">
<div class="card-block">
<h1 class="display-6 text-center mt-3"><span class="fa fa-credit-card">&nbsp;</span>Browse all Ethereum Transactions</h1>
<div class="row"><div class="col-md-12">
<div class="table-responsive">
<table class="table" id="txs">
<thead><tr><th>Hash</th><th>Block</th><th>Type</th><th>From</th><th>To</th><th>Value</th><th>Fee</th><th>Gas Price</th><th>Time</th></tr></thead>
<tbody class="font-weight-bold" style="display: table-row-group; vertical-align: middle;    border-color: inherit;">
   <tr>      <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>c</td><td>d</td><td>e</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>j</td><td>g</td><td>x</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>n</td><td>a</td><td>c</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>s</td><td>o</td><td>s</td>    </tr>    <tr>     <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>    <td>v</td><td>u</td><td>n</td>    </tr>    <tr>    <td>u</td><td>b</td><td>h</td>   <td>u</td><td>b</td><td>h</td>     <td>w</td><td>m</td><td>a</td>    </tr>    
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
    <div class="row justify-content-md-center">
    <table>
      <thead>
        <tr>
          <th>c1</th>
          <th>c2</th>
          <th>c3</th>
        </tr>
      </thead>
      <tbody>
        <tr>      <td>u</td><td>b</td><td>h</td>    </tr>    <tr>      <td>c</td><td>d</td><td>e</td>    </tr>    <tr>      <td>j</td><td>g</td><td>x</td>    </tr>    <tr>      <td>n</td><td>a</td><td>c</td>    </tr>    <tr>      <td>s</td><td>o</td><td>s</td>    </tr>    <tr>      <td>v</td><td>u</td><td>n</td>    </tr>    <tr>      <td>w</td><td>m</td><td>a</td>    </tr>    <tr>      <td>d</td><td>u</td><td>y</td>    </tr>    <tr>      <td>a</td><td>k</td><td>z</td>    </tr>    <tr>      <td>b</td><td>b</td><td>e</td>    </tr>    <tr>      <td>d</td><td>w</td><td>s</td>    </tr>    <tr>      <td>v</td><td>y</td><td>x</td>    </tr>    <tr>      <td>g</td><td>j</td><td>q</td>    </tr>    <tr>      <td>p</td><td>x</td><td>x</td>    </tr>    <tr>      <td>r</td><td>t</td><td>g</td>    </tr>    <tr>      <td>m</td><td>a</td><td>x</td>    </tr>    <tr>      <td>f</td><td>v</td><td>q</td>    </tr>  
      </tbody>
    </table>
    </div>
<br>
</div>
{% endblock %}
{% block script %}
{% endblock %}
