{% extends "base.html" %}

{% block style %} 
<style type="text/css">
  .row{
    font-size:14px;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
  }
</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:50px;">
  <div class="card">
    <div class="card-body">
      <div class="row"><div class="col-md-2">Txn&nbsp;Number:</div><div class="col-md-10">{{ txn.id }}</div></div>
      <div class="row"><div class="col-md-2">Created:</div><div class="col-md-10">{{ txn.txn_created }}</div></div>
      <div class="row"><div class="col-md-2">Type:</div><div class="col-md-10">{{ txn.txn_type }}</div></div>
      <div class="row"><div class="col-md-2">Sender:</div><div class="col-md-10"><a class="textlink" href="/accounts/{{ txn.sender.public_key }}/">{{ txn.sender.public_key }}</a></div></div>
      <div class="row"><div class="col-md-2">Sender&nbsp;SeqNo:</div><div class="col-md-10">{{ txn.sender_seq_no }}</div></div>
      {% if txn.txn_type == 'Transfer' %}
      <div class="row"><div class="col-md-2">Recipient:</div><div class="col-md-10"><a class="textlink" href="/accounts/{{ txn.recipient.public_key }}/">{{ txn.recipient.public_key }}</a></div></div>
      <div class="row"><div class="col-md-2">Amount:</div><div class="col-md-10">{{ txn.amount }}</div></div>
      {% elif txn.txn_type == 'Registration' %}
      <div class="row"><div class="col-md-2">Name:</div><div class="col-md-10">{{ txn.name }}</div></div>
      <div class="row"><div class="col-md-2">Photo&nbsp;hash:</div><div class="col-md-10 overflow" data-container="body" data-toggle="popover"  data-placement="bottom" data-content = '{{ account.photo_hash }}' >{{ txn.photo_hash }}</div></div>
      {% elif txn.txn_type == 'ChangeVote' %}
      <div class="row"><div class="col-md-2">Target:</div><div class="col-md-10"><a class="textlink" href="/accounts/{{ txn.recipient.public_key }}/">{{ txn.recipient.public_key }}</a></div></div>
      <div class="row"><div class="col-md-2">Vote:</div><div class="col-md-10">{{ txn.vote }}</div></div>
      {% endif %}

      <div class="row"><div class="col-md-2">Message:</div><div class="col-md-10">{{ txn.txn_message }}</div></div>
      <div class="row"><div class="col-md-2">Signature:</div><div class="col-md-10">{{ txn.signature }}</div></div>

      <div class="row"><div class="col-md-2">Txn Data:</div><div class="col-md-10" style="word-break: break-all;">{{ txn.txn_data }}</div></div>
      <div class="row"><div class="col-md-2">Txn Hash:</div><div class="col-md-10">{{ txn.txn_hash }}</div></div>

    </div>
  </div>
</div>

{% endblock %}
{% block script %}
{% endblock %}
